<!DOCTYPE html>
<html>
<head>
  <title>Biddr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="flash">
  <%= flash[:alert] || flash[:notice] %>
</div>
<%= yield %>

</body>
</html>
